@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: rgb(253, 251, 251);
  font-size: 20px;
  color: lightseagreen;
  line-height: 2em;
  font-family: 'Roboto', sans-serif;
}

#cabecalho {
  background-color: #ddd;
  position: fixed;
  padding: 2em;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  margin: 0;
  border: 10px solid green;
}
